<hr>
<h1 style="text-align: center">*************** Quotes ***************</h1>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <ul *ngFor = 'let quote of quotesArr;let i = index'>
                <li>
                    <div class="card">
                        <div class="card-header">
                            {{quote.quote}}  <span id="date"><small>{{quote.postDate | dateCount}} days ago</small> </span><br>        
                            <button type="button" class="btn btn-secondary"  id="btnA"  (click) = 'move(i)'><small>View details</small></button> 
                        </div>
                        <div class="card-body" *ngIf = 'quote.show'>
                            <app-quote-details [showDetails] = 'quote' (willDelete) = 'removeDiary($event,i)'></app-quote-details>
                        </div>
                    </div>
                    <br>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <app-quote-form  (sendData) = 'updateForm($event)'></app-quote-form>
</div>
