/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Lexend+Tera|Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Lexend+Tera|Quicksand|Vidaloka&display=swap');


body {

    background-image: url("assets/leaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

li {
    list-style: none;
}
#btnA{
    float: right;
}
#date,#vote {
    float: right;
}
#top {
    background-color: #1C2833;
    height: 30vh;
    color: #50c9c3;
    text-align: center;
    border-radius: 10px;
    font-family: 'Lexend Tera', sans-serif;
}
#qt {
    font-family: 'Lexend Tera', sans-serif;
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
}
.dt {
    font-family: 'Lexend Tera', sans-serif;
    font-family: 'Cutive Mono', monospace;
    font-family: 'Vidaloka', serif;
}
#link {
    position: fixed;
    text-align: center;
    padding-top: 60px;
    margin-right: 100PX;
    background-color: #E0F561 ;
    border-radius: 10px;
    font-family: 'Lexend Tera', sans-serif;
    font-family: 'Cutive Mono', monospace;
    font-family: 'Vidaloka', serif;
    font-family: 'Quicksand', sans-serif;
}
#form {
  color: white;
}
#box {
  border-radius: 10px;
}
#cen {
  padding-top: 20px;
}
